.container{
    width: 90vw;
    height: 870px;
    margin: 158px auto;
    display: grid;
    grid-template-rows: repeat(5, 197.39px);
    grid-template-columns: repeat(4, 197.39px);
    grid-row-gap: 23.69px;
    grid-column-gap: 23.69px;
}

.item:nth-child(3){
    grid-column: 4 / span 1;
}

.item:nth-child(3)::before{
    width: 197.39px;
}

.item:nth-child(9){
    grid-column: 3 / span 2;
}

.item:nth-child(10){
    grid-column: 1 / span 2;
}

.item:nth-child(11){
    grid-column: 3 / span 2;
}

.item:nth-child(11)::before{
    width: 418.46px;
}
