<!DOCTYPE html>
<html lang="en">
  <head>
<title>Main_page</title>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--fonts ends-->

<!--header-->
<link rel="stylesheet" href="{% static 'aero/css/header_mainpage.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--header ends-->

<!--drone animation-->
<script src="{% static 'aero/js/skrollr.js' %}"></script>
<!--drone animation ends-->

<!--main style and js files-->

<script src="{% static 'aero/js/Mainpage_javascript.js' %}"></script>
<link  rel="stylesheet" type="text/css" href="{% static 'aero/css/porwal.css' %}">
{% include 'aero/components/ga_code.html' %}
</head>
<style>
  #navDemo > div > button{
    font-size: 20px;
    padding-left:24px;
  }
  ::-webkit-scrollbar {
   display: none;
    }
    *{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
</style>
<body>
<!--Header-->
    <div class="w3-top font">
      <div class="w3-bar w3-blac w3-card">
        <a href="#home"><img class="logo-img" src="{% static 'aero/img/White logo.png' %}" style="width: 100px; height:65px; margin:10px;" ></a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <div class="w3-right w3-hide-small">
    
        <a href="{%url 'aero-about' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
        <a href="{%url 'aero-teampage'%}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TEAM</a>
    
        <div class="w3-dropdown-click w3-hide-small">
          <button class="w3-padding-large w3-button" title="More" onclick="drop()">PROJECTS <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4" id = "click-drop">
            <a href="{%url 'aero-itsp' %}" class="w3-bar-item w3-button">ITSP</a>
            <a href="{%url 'aero-other' %}" class="w3-bar-item w3-button">CLUB</a>
            <a href="{%url 'aero-glider' %}" class="w3-bar-item w3-button">Prototypes</a>
  
            
          </div>
        </div>
      
        <a href="{% url 'aero-blogs' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLOGS</a>
        <a href="{%url 'aero-gallery' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GALLERY</a>
        <a href="{%url 'aero-events' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EVENTS</a>
        </div>
      </div>
    </div>
    

      
      <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
      <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top font" style="margin-top:80px">
        <a href="{%url 'aero-about' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
        <a href="{%url 'aero-teampage'%}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TEAM</a>
        <div class="dropdown" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">
          <button class="dropbtn">PROJECTS 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{%url 'aero-itsp' %}">ITSP</a>
            <a href="{%url 'aero-other' %}">CLUB PROJECTS</a>
          </div>
        </div>
        <a href="{% url 'aero-blogs' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BLOGS</a>
        <a href="{%url 'aero-gallery' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">GALLERY</a>
        <a href="{%url 'aero-events' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EVENTS</a>
        
      </div>

<!--header ends-->

<!--BODY -->
  <div class="bg">

    <div id="drone" data-0="background-size: 100% auto; position:fixed;" data1500="background-size: 0% auto; position: fixed;" data-1501="z-index=0;"style = "height: 100%;" ></div>
    <div class="ate" data-0="position: fixed; z-index:0; opacity:0.8;" data-1500="position: fixed; z-index:0; opacity:0;" data-1501="position: absolute; ">ATE</div>
    <div class="innov" data-0="position: fixed; z-index:2; opacity:0.8;" data-1500="position: fixed; z-index:2; opacity:0;"  data-1501="position: absolut;">INNOV</div>
    <div class="avi" data-0="position: fixed; z-index:2; opacity:0.8;" data-1500="position: fixed; z-index:2; opacity:0;"  data-1501="position: absolute;">AVI</div>
</div>
<!-- skrollr-body is because #box and #about is not fixed-->
    <div id="skrollr-body">
     
        <div id="box" style="z-index: 20;">
          WE'RE THE AEROMODELLING CLUB,IITB
        </div>

        <div id="about">
          “And like no other sculpture in the history of art,<br> the dead engine and dead airframe come to life at the touch of a human hand,<br> and join their life with the pilot's own.”
          <br><b>-Richard Bach, A Gift of Wings</b>
        </div>
      
    
 
  <!--footer-->
  {% include 'aero/components/footer.html' %}
   
  <!-- footer-->
       <!--script-->
  <script>
function drop() {
  var x = document.getElementById("click-drop");
  
  x.classList.toggle("w3-show");
  
}
  </script>
  <!--script-->
</body>
</html>
