{% load static %}
{% include 'aero/components/header.html' %}
<style>
	input{
	background-color:  #262626 !important;
	color: white !important;
	}
	*[class*= "tox"]>:not(.tox-swatch):not(svg):not(.tox-rgba-preview){
	
		background-color:  #262626 !important;
		color: white !important;

	}
	
	span{
		color:white!important;
	}

</style>
<div class="container-fluid">
	<div class="text-center">
		<h1 class="blogwall" style="margin-top:40px; ">Add a New Blog</h1>
	</div>
	<div class="container ">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="box-body">
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
						</div>
						<div class="form-group">
							<label for="title">Author</label>
							<input type="text" class="form-control" id="author" name="author" placeholder="Enter your name">
						</div>
						<div class="form-group">
							<label for="short_description">Short Description</label>
							<textarea name="short_description" class="form-control" rows="3" placeholder="Enter short description"></textarea>
						</div>
						<div class="form-group">
							<label for="content">Blog Content</label>
							<textarea id="content" name="content" class="form-control" rows="3" placeholder="Enter your blog"></textarea>
						</div>
						<div class="form-group">
							<label for="cover_img">Cover Image</label>
							<input type="file" id="cover_img" name="cover_img">
						</div>
						
					</div>
					<button type="submit" class="save btn btn-default">Save</button>
				</form>
			</div>
		</div>
	</div>
	
</div>


{% block scripts %}
<script src="https://cdn.tiny.cloud/1/rp7lync8q2v6dsaedbcm5vlq3b9v82bqb7utyi4qztiv983m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script><script>
	tinymce.init({
		selector: '#content',
		plugins: 'image code',
		toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
		toolbar_mode: 'floating',
		tinycomments_mode: 'embedded',
		tinycomments_author: 'Author name',
		content_style:'*{color: grey;}',
		placeholder: "",
		image_title: true,
  /* enable automatic uploads of images represented by blob or data URIs*/
  automatic_uploads: true,
  /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
  file_picker_types: 'image',
  /* and here's our custom image picker*/
  file_picker_callback: function (cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type="file"] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
	});
</script>
{% endblock %}
